<div class="alert alert-<%- a.type %> alert-dismissible fade show" role="alert">
        <h4><%- a.title %></h3>
        <h6><%- a.message %></h5>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
</div>