<h2><%= title[3] %></h2>
<form action="/user/feedback" method="post">
<div class="form-group">
  <label for="comment">Сообщение для поддержки:</label>
  <textarea class="form-control" rows="5" id="comment" name="feedback"></textarea>
  <button type="submit" class="btn btn-primary" type="button">Отправить</button>
</div>
</form>